body{
    background-color: white;
    padding: 3em;
}

/* 
Navigation
==========
*/
.page-header{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.nav-top-ul{
    display: flex;   
    justify-content: baseline;
}

.nav-top-li{
    list-style: none;
    padding-left: 4em;
    font-size: 0.75em;
}

/*
section-with-padding
*/
.section-with-padding{
    padding: 5% 0;
}

.motto-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 6em;
}

.brief{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    width:70%;
    margin-bottom: 2.5em;
}

h1{
    margin:0;
}
/*
Button 
======
*/

.button-style{
    padding: 0.5em;
    font-size: 16px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

.full-width{
    width: 100%;
    margin: 5em auto;
    text-align: center;
}

/* 
Article at center
=================
*/

.article-at-center{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    width: 60%;
    margin: 0 auto;
}

/* 
Alternating articles
====================
*/

.alternating-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.alternating-section:nth-of-type(odd){
    flex-direction: row-reverse;
}

.alternate-section-img{
    width:55%;
}

.article-and-button{
    width:30%;   
}

.alternate-section-article{    
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    padding-bottom: 1em; 
}

/* 
Button at center 
*/
.button-at-center{    
    text-align: center;
}

/*
Featured section
*/
.featured-section{
    display: flex;
}

.featured-column{
    padding: 0;
}

.featured-heading{
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 2em;
}

.featured-para{
    font-family: 'Montserrat', sans-serif;
    width: 90%;
}

/*
customers-logo-section
*/
.customers-logo-section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.customer-logo{
    padding-left: 3em;
}